[Desktop Entry]
Categories=AudioVideo;Video;Network;
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}}
Keywords=AirPlay;Miracast;Mirror;Mirroring;Screen Mirroring;Screen;Cast;Receiver;Android;iPhone;iPad;scrcpy;Spiegeln;Bildschirm;Bildschirm spiegeln;Spiegel;
StartupWMClass={{exec}}
Icon={{icon}}
Name=UwUMirror
Terminal=false
Type=Application
